* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

body {
  background: #eee;
}

.productsContainer {
  margin: 0 auto;
  padding: 3rem 130px;
}

.productsContainer .title {
  font-size: 3.5rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.dark .title{
   color: var(--text-color-day);
}

.productsContainer .products-productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.productsContainer .products-productsContainer .product {
  text-align: center;
  padding: 3rem 2rem;
  background-color: #ffffff;
  background-image: linear-gradient(
   to top,
   var(--text-color-night),
   transparent
 );
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.dark .productsContainer .products-productsContainer .product {
  background: var(--secondary-color-day);
  color: var(--text-color-day);
}
.dark .productsContainer .products-productsContainer .product h3{
  color: var(--text-color-night);
}
.productsContainer .products-productsContainer .product:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.productsContainer .products-productsContainer .product img {
  height: 20rem;
  border-radius: 15px;
}

.productsContainer .products-productsContainer .product:hover img {
  transform: scale(0.9);
}

.productsContainer .products-productsContainer .product h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #373737;
}

.dark .productsContainer .products-productsContainer .product:hover h3 {
  color: #ffffff;
}
.productsContainer .products-productsContainer .product:hover h3 {
  color: #000000;
}

.productsContainer .products-productsContainer .product .price {
  font-size: 2rem;
  
}

.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 100%;
  border-radius: 10px;
}

.products-preview .preview.active {
   display: flex;
   max-width: 487px;
   max-height: 786px;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.products-preview .preview img {
  height: 21rem;
  max-height: 170px;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 20px;
}

.products-preview .preview .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i {
  color: #27ae60;
}

.products-preview .preview .stars span {
  color: #999;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 15.5rem;
  margin-top: 0rem;
  width: 418px;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: 0.1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .products-preview .preview img {
    height: 25rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .productsContainer {
   margin: 0 auto;
   padding: 3rem 6px;
}
.products-preview .preview .buttons{
  width: 316px;
       gap: 0rem;
}
}
